* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Typography styles */
h2 {
    color: white;
}

a {
    color: black;
}

/* Main Page Styles */

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px black;
    background-color: green;
    display: flex;
    flex-direction: column;
    max-height: 1140px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.navbar {
    width: 100%;
    border: solid 1px black;
    background-color: yellow;
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
    height: 75px;
    font-size: 15px;
    align-items: center;
}

.column {
    border: solid 1px black;
    background-color: blue;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.box, .box-4 {
    color: aliceblue;
    background-color:rgb(52, 207, 129);
    width: 125px;
    height: 125px;
    align-items: center;
}

.boxes { 
    display: flex;
    
}