body {
    font-family: Arial;
}
h1 {
    background-color: black; text-align: left; color: white; text-indent: 20px; line-height: 120%;
}
.cloud {
    color:#89CFF0;
}
h2 {
    background-color: rgb(103, 48, 155); font-style: italic; color: white; text-align: center; line-height: 130%; font-weight: lighter;
}
h3 {
    background-color: #89CFF0; color: rgb(103, 48, 155); text-decoration: underline; text-align: right; text-indent: 20px; direction: rtl; line-height: 150%; font-weight: lighter;
}